/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

body {
	font-family: "Futura", "Helvetica" sans-serif;
	font-size: 16px;
	line-height: 1.4;	
}

.bannerpic {
	display: inline-block;
	width: 100%;
}

.topbanner {
	background-color: red;
	width: 100%;
	display: inline-block;
	float: left;
}

.topbanner h1 {
	font-size: 50px;
	font-family: "Futura";
	letter-spacing: 2px;
}

.topbanner h2 {
	font-size: 20px;
	letter-spacing: 2px;
}
.sitenav {
	
	clear: both;
	display: inline-block;
	float: right;
	margin-top: 2px;
	margin-right: 16px;
	margin-bottom: 1px;
}

.sitenav a {
	margin: 15px;
	font-size: 16px;

}
.sitenav a:link {
	color: black;
}

.sitenav a:visited {
	color: black;
}

.sitenav a:hover {
	color: grey;
}

.sitenav a:active {
	color: red;
}

.pagetopic {
	font-size: 50px;
	font-family: "Futura";
	letter-spacing: 2px;
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 20px;
	background-color: #F7F7F3;
}

.mo {
	clear: both;
	
	
}

.info {
	clear: both;
	display: inline-block;
	text-align: justify;
	width: 100%;
	margin: 5px;
}

.pagecontent {
	width: 60%;
	margin: 10px;
}

.headshot {
	clear: both;
	width: 30%;
	display: inline-block;
	float: right;
	margin-right: 50px;
}

footer {
	clear: both;
	display: block;
	float: right;
}

.pic {
	clear: both;
	display: inline-block;
	height: 20px;
	width: 20px;
}

.tagline {
	font-size: 18px;
	width: 60%;
	text-align: justify;
	margin-left: 10px;
}
